<nav class="navbar navbar-expand-sm navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="#"
      ><% if (locals.logoName) { %>
      <img src="/image/<%= logoName %>" width="100px" />
      <% } else { %>
      <img src="/image/logo.png" width="100px" />
      <% } %></a
    >

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            ><%= username %></a
          >
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/profile">Profile</a></li>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
  nav.navbar {
    background-color: <%= secondaryColor %>;
    color: <%= primaryColor %>;
  }
</style>
