<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Einloggen - Personal Peak</title>
    <%- include('partials/header') %>
  </head>
  <body class="w-100">
    <div class="main-body">
      <div class="container">
        <div
          class="login-group animate__animated animate__fadeIn animate__delay-1s"
        >
          <div
            class="row justify-content-center align-items-center vh-100 animate__animated animate__fadeInUp"
          >
            <div
              class="text-title animate__animated animate__fadeInDown animate__delay-2s"
            >
              <div class="col-sm-8 offset-sm-2">
                <img src="/image/trainingshalle_mask.png" width="100%" />
              </div>
            </div>
            <div class="col-sm-8 col-lg-6 col-xl-4" style="opacity: 0.85">
              <form class="form form-login" method="POST">
                <input type="hidden" name="action" value="login" />
                <div
                  class="card-header text-center animate__animated animate__fadeIn animate__delay-3s"
                >
                  <h3><span class="fa fa-lock"></span> Einloggen</h3>
                </div>
                <div class="card-body">
                  <div class="form-group error-display"></div>
                  <div class="form-group">
                    <input
                      required
                      type="email"
                      class="form-control-lc"
                      name="email"
                      placeholder="user@gmail.com"
                    />
                  </div>
                  <div class="form-group">
                    <input
                      required
                      type="password"
                      class="form-control-lc"
                      name="password"
                      placeholder="passwort"
                    />
                  </div>
                  <div class="form-group mt-4">
                    <center>
                      <div
                        class="g-recaptcha"
                        data-theme="dark"
                        data-sitekey="6LdD5KcpAAAAAF0LL0k02LE2cDN6x5IXKLxaKx_x"
                        data-callback="captchaSubmit"
                      ></div>
                    </center>
                  </div>
                  <div
                    class="form-group animate__animated animate__fadeIn animate__delay-3s"
                  >
                    <button class="mybtn w-100 mt-3">SCHICKEN</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      var formreadyToSubmit = false;
      function captchaSubmit(token) {
        $(".g-recaptcha .recaptchaerrorbox").remove();
        var response = grecaptcha.getResponse();
        if (response.length === 0) {
          formreadyToSubmit = false;
        } else {
          formreadyToSubmit = true;
        }
      }
      function onExpired() {
        formreadyToSubmit = false;
      }
      $(document).ready(function () {
        $(".forget-itf").click(function () {
          $(".login-group").hide();
          $(".forget-group").show();
        });
        $(".login-itf").click(function () {
          $(".login-group").show();
          $(".forget-group").hide();
        });
        $(".form-login").submit(function () {
          if (formreadyToSubmit) {
            animate();
          } else {
            $(".g-recaptcha .recaptchaerrorbox").remove();
            $(".g-recaptcha").append(
              "<p class='text-danger m-0 mt-2 recaptchaerrorbox'><b>reCAPTCHA verification required!</b></p>"
            );
            return false;
          }
        });
      });
    </script>
    <style>
      body,
      html {
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: 100%;
        background: url(https://personal-peak-360.de/assets/image/gymbg.jpg)
          fixed no-repeat;
        background-size: 100% calc(100% + 1px);
        background-position: 0 -1px;
      }
      .login-group {
        position: fixed;
        top: 0;
        left: 0;
        backdrop-filter: blur(1px);
        background: #00000024;
        width: 100%;
      }

      form.form.form-login {
        color: white;
        background: #000;
        border: 2px solid #2b3e50;
        padding: 20px 30px;
      }

      input.form-control-lc {
        width: 100%;
        padding: 10px;
        background: transparent;
        border: 0;
        border-bottom: 2px solid #2e3b50;
        outline: 0;
        color: #fff;
        font-size: 1.3rem;
        transition: 0.2s;
      }

      input.form-control-lc:focus {
        border-color: #ffffffbd;
      }

      button.mybtn {
        font-weight: 500;
        border: 0;
        outline: 0;
        padding: 10px;
        border-radius: 30px;
        background: #ffb63b;
        color: #2b3e50;
        transition: 0.2s;
      }

      button.mybtn:hover {
        background: #ffa633;
      }
    </style>
  </body>
</html>
