<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <title>Login</title>
  </head>
  <body>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header text-center">
              <h1>Login</h1>
            </div>
            <div class="card-body">
              <% if (locals.error) { %>
              <div class="alert alert-danger" role="alert"><%= error %></div>
              <% } %>
              <center>
                <div id="buttonDiv" class="text-center mt-3"></div>
              </center>
              <form id="login_form" method="POST" action="/login">
                <div class="my-3">
                  <label for="email" class="form-label">Email</label>
                  <input
                    required
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Enter Your Email"
                  />
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input
                    required
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="**********"
                  />
                </div>
                <div class="mb-3">
                  <p class="m-0">
                    Not have an account? <a href="/signup">Create New</a>
                  </p>
                </div>
                <div class="d-grid gap-2">
                  <button type="submit" class="btn btn-primary btn-block">
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
